<section class="section-alt">
  <div class="super-hero-unit">
    <figure>
      <%= image_tag 'landscape-3-1250x600.jpg' %>
      <figcaption>
        <h1 class="hyper animated fadeinup delayed">Скоро</h1>
      </figcaption>
    </figure>
  </div>
</section>